.contenedor-tabla{
    overflow-x: auto;
    margin: 10px;

}
.cont-img-tabla{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
}
.cont-img-tabla img{
    width: 100%;
    object-fit: cover;
}
.contenedor-tabla table{
    /*width: 80rem !important; Dispositivos moviles */
}