@font-face {
  font-family: 'PrumoDeck-Black';
  src: url('./font/PrumoDeck-Black.woff') format('woff');
}

h1,h2,h3,h4{
  font-family: "PrumoDeck-Black";
}
h1{
  color: rgb(0,105,152) !important;
  font-size: 3.5rem !important;
}